name: static analysis

on:
  push:
    branches:
      - main
      - '*.x'
  pull_request:

permissions:
  contents: read

jobs:
  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run type check
        run: bun run typecheck

      - name: Run lint check
        run: bun run lint
